body{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}  

.list_table{
    min-width: 15%;
    /* margin: left; */
    border: 1px solid #dddddd;
    padding-left: 1%;
}

.link_table_block{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    /* justify-content: space-between; */
}

.link_table_elem{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    
}

.link_table_button{
    background: #ffe6c3;
}

.table_section{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.table {
	min-width: 100%;
	margin-bottom: 20px;
	/* border: 1px solid #dddddd; */
	border-collapse: collapse; 
}
.table_header_td {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table_row_td, .table_row_td_new {
	border: 1px solid #dddddd;
	padding: 5px;
    text-align: center;
}



.table_body_delete {
	text-align: center;
    margin: auto;

}


 .table_button_create_row, .table_button_delete, .table_button_edit, .table_button_confirm, .table_button_cancel{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    box-sizing: border-box;
}

.table_button_sort{
    margin-right: 10px;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    box-sizing: border-box;
}

.table_button_sort:hover, .table_button_delete:hover, .table_button_create_row:hover, .table_button_edit:hover, .table_button_confirm:hover, .table_button_cancel:hover{
    opacity: 1;
}

.input_cell_table{
    border: 0px;
    border-bottom: 0.5px dotted red;
    width:100%;
    height: 100%;
    box-sizing: border-box;
}

.edit_panel{
    /* padding-left: 10px; */
    min-width: 25%;
    /* border: 1px solid #dddddd; */
}
/* .edit_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
} */

.create_new_DB{ 
    /* margin-top: 5%; */
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;;
}   

.create_new_name_DB{
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
}

.create_column_type{
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
    /* margin-left: 10%; */
}

.DB_button_delete{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 10px;
}

.DB_button_add{
    width: 20px;
    height: 20px;
    display: block;
}

.block_create_DB{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 3%;
}

.block_button_DB{
    margin-left: 10px;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}